.header {
  height: 50px;

  .title {
    font-weight: normal;
  }

  :global {
    .Header__content {
      display: flex;
      align-items: flex-end;

      .Icon {
        color: #818C99;
      }
    }
  }
}
