$radius: 5px;

:global {
  .desktop-panel {
    .Panel__in {
      min-height: 100%;
      height: auto !important;

      background-color: #f0f0f0 !important;
    }
  }
}

.desktop {
  width: 100%;

  display: flex;
  justify-content: center;

  .contentWrapper {
    width: 1000px;

    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    .menu {
      height: 0;
      width: 240px;
      min-width: 240px;

      position: sticky;
      top: 0;

      margin-right: 10px;

      .addReportBtn {
        width: 100%;

        margin-top: 10px;

        border-radius: $radius;
      }

      .menuGroup {
        margin-top: 10px;

        overflow: hidden;

        border-radius: $radius;
        background-color: rgb(255, 255, 255);
      }
    }

    .content {
      width: 750px;

      margin: 10px 0 ;
      padding-bottom: 10px;

      overflow: hidden;

      border-radius: $radius;
      background-color: rgb(255, 255, 255);
    }
  }
}

@media screen and (max-width: 1000px) {
  :global {
    .desktop-panel {
      .Panel__in {
        padding: 0 10px;
      }
    }
  }

  .desktop {
    .contentWrapper {
      width: 100%;

      .menu {
        min-width: 240px;
      }

      .content {
        //width: 100%;
        flex: 1;
      }
    }
  }
}
