.reportItem {
  margin: 0;

  &:not(:last-child) {
    :global {
      .Cell__main {
        border-bottom: 1px solid var(--separator_common);
      }
    }
  }

  .title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
  }

  .tags {
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .buttonTags {
    color: #818C99;
    padding: 2px 5px 2px 5px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
  }

  .footer {
    display: flex;
  }

  .nameAndDate {
    color: #818C99;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .status {
    margin-left: auto;
    color: #828282;
    font-weight: 600;
    font-size: 14px;
  }
}
