.tableBlock {
    display: flex;
}

.tableRating {
    margin-left: auto;
    text-align: end;
    color: #818C99;
}

.tableReport {
    padding-left: 20px;
    text-align: end;
    color: #818C99;
}

.block {
    display: flex;
    margin-top: -20px;
}

.number {
    color: #818C99;
    margin-top: auto;
    margin-bottom: auto;
}

.name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.rating {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    white-space: nowrap;
    text-align: end;
}

.report {
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
    padding-left: 20px;
    width: 55px;
    text-align: end;
}

.avatar {
    object-fit: cover;
}