.version {
  :global {
    .Header__in {
      align-items: center;
    }

    .Header__content {
      padding: 0 !important;
    }
  }
}

.icons {
  display: flex;

  color: var(--text_subhead);

  .icon {
    display: flex;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.footer {
  padding: 0 16px !important;

  color: var(--text_subhead);
}
